.lst0501 #parent {
    width: 200px;
    border: 1px solid black;
}

.lst0501 #parent > div {
    background: green;
    height: 20px;
    margin: 2px;
    color: white;
}

.lst0501 #parent div:nth-of-type(1) { width: 10px; }
.lst0501 #parent div:nth-of-type(2) { width: 50%; }
.lst0501 #parent div:nth-of-type(3) { width: 100px; }
.lst0501 #parent div:nth-of-type(4) { width: calc(100% - 10px); }
.lst0501 #parent div:nth-of-type(5) { width: 1in; }
