.lst0406 div { font-size: 36px; }
.lst0406 .f1 { font-family: arial, sans-serif; }
.lst0406 .f2 { font-family: 'times new roman', serif; }
.lst0406 .f3 { font-family: trebuchet, helvetica, sans-serif; }
.lst0406 .f4 { font-family: wingdings; }
.lst0406 .f5 { font-family: 'garbage'; }
