<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="CSSBookCode" Version="1.0.0.0" Publisher="CN=jerfost" />
  <Properties>
    <DisplayName>Source Code for CSS for Windows 8 App Development</DisplayName>
    <PublisherDisplayName>jerfost</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Code" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Code" ForegroundText="light" BackgroundColor="black">
        <DefaultTile ShowName="noLogos" ShortName="CSS" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="white" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>